$def with (todos,num)
<title>OpenBay</title>
<head>
<style>
  body {background-color:lightgrey}
  h1   {color:blue}
  tr.spaceUnder>td
  {
   padding-bottom:1em
  }
</style>
</head>
<h1>Torrents sorted by size</h1>

 <table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Size</th>
    <th>Seeds</th>
  </tr>
$for todo in todos:
  	<tr class="spaceUnder">
 	<td>$todo.title</td>
    	<td>$todo.size</td>
	<td><a href="seed/$todo.hash">View</a>
  	</tr>
	
</table> 
<td><a href="/">first</a>
<td><a href="$num">next</a>



